# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Environments
.venv/
env/
venv/
*.conda

# Local configs
configs/*.local.yaml

# Data, weights, outputs
data/
datasets_local/
pretrained/
runs/
results/
*.pth
*.pt
*.ckpt
*.onnx

# Logs
*.log
*.csv

# IDE
.vscode/
.idea/
